<a href="https://colab.research.google.com/github/sangyun03/-BP_10_Ch4/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
"나는"+ "12" + "개의 사과를 먹었다."

'나는12개의 사과를 먹었다.'

In [8]:
'apple' + 'grape'
'apple' *3

'appleappleapple'

In [7]:
s = input("문자열을 입력하시오: ")
print(s[0:2] + s[4:])

문자열을 입력하시오: python
pyon

In [9]:
str = input("문자열을 입력하시오: ")
print(str + "하는 중")

문자열을 입력하시오: 청소
청소하는 중

In [10]:
p = input("기호를 입력해주세요: ")
s = input("중간에 삽입할 문자열을 입력하시오: ")

print(p[0] + s + p[1])

기호를 입력해주세요: []
중간에 삽입할 문자열을 입력하시오: python
[python]

In [17]:
list = ['1', '2', '3', '4']


sum = int(list[0]) + int(list[1]) + int(list[2]) + int(list[3])

print("리스트 = ", list)
print("리스트 숫자들의 합: ", sum)

리스트 =  ['1', '2', '3', '4']
리스트 숫자들의 합:  10